<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.prime.com.tr/ui">
    <h:head>
        <title>Entri Kontak</title>
    </h:head>
    <h:body>
        
        <ui:composition template="../template/utama.xhtml">

            <ui:define name="content">
                Entri Kontak
        
                <h:form>
                    <h:panelGrid columns="3">
                        <h:outputLabel for="kategori" value="Kategori"/>
                        <h:selectOneRadio id="kategori" size="1"
                                          layout="pageDirection"
                                            value="#{kontakManagedBean.kontak.kategori}">  
                            <f:selectItems 
                                value="#{kategoriManagedBean.daftarKategori}"  
                                var="x" itemLabel="#{x.nama}" 
                                itemValue="#{x}" />  
                        </h:selectOneRadio> 
                        <h:message for="kategori"/>
                        
                        <h:outputLabel for="nama" value="Nama"/>
                        <h:inputText id="nama" value="#{kontakManagedBean.kontak.nama}"
                                     required="true" requiredMessage="Nama kontak harus diisi" />
                        <h:message for="nama"/>
                        
                        <h:outputLabel for="email" value="Email"/>
                        <h:inputText id="email" value="#{kontakManagedBean.kontak.email}"/>
                        <h:message for="email"/>
                        
                        <h:outputLabel for="tanggalLahir" value="Tanggal Lahir"/>
                        <p:calendar id="tanggalLahir" value="#{kontakManagedBean.kontak.tanggalLahir}" />
                        <h:message for="tanggalLahir"/>

                        <h:panelGroup>
                            <h:commandButton value="Simpan" action="#{kontakManagedBean.simpan()}"/>
                            <h:commandButton value="Batal" />
                        </h:panelGroup>
                    </h:panelGrid>
                </h:form>
            </ui:define>

        </ui:composition>
        
        
    </h:body>
</html>

