<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.prime.com.tr/ui">
    <h:head>
        <title>Daftar Kontak</title>
    </h:head>
    <h:body>
        
        <ui:composition template="../template/utama.xhtml">

            <ui:define name="content">
                <h1>Daftar Kontak</h1>
        
                <h:form>
                    
                    <p:dataTable var="k" value="#{kontakManagedBean.daftarKontak}">
                        <p:column>
                            <f:facet name="header">Kategori</f:facet>
                            <h:outputText value="#{k.kategori.nama}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">Nama</f:facet>
                            <h:outputText value="#{k.nama}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">Email</f:facet>
                            <h:outputText value="#{k.email}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">Tanggal Lahir</f:facet>
                            <h:outputText value="#{k.tanggalLahir}">
                                <f:convertDateTime 
                                    pattern="EEEE, d MMMM yyyy"
                                    locale="#{kontakManagedBean.locale}"
                                    />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">Action</f:facet>
                            <p:commandButton value="edit"></p:commandButton>
                        </p:column>
                    </p:dataTable>
                </h:form>
            </ui:define>

        </ui:composition>
        
        
    </h:body>
</html>

