<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>Entri Kategori</title>
    </h:head>
    <h:body>
        
        <ui:composition template="../template/utama.xhtml">

            <ui:define name="content">
                Entri Kategori
        
                <h:form>
                    <h:panelGrid columns="3">
                        <h:outputLabel for="nama" value="Nama"/>
                        <h:inputText id="nama" value="#{kategoriManagedBean.kategori.nama}" required="true" requiredMessage="Nama Kategori harus diisi" />
                        <h:message for="nama"/>

                        <h:panelGroup>
                            <h:commandButton value="Simpan" action="#{kategoriManagedBean.simpan()}"/>
                            <h:commandButton value="Batal" />
                        </h:panelGroup>
                    </h:panelGrid>
                </h:form>
            </ui:define>

        </ui:composition>
        
        
    </h:body>
</html>

