<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.prime.com.tr/ui">
    <h:head>
        <title>Daftar Kategori</title>
    </h:head>
    <h:body>
        
        <ui:composition template="../template/utama.xhtml">

            <ui:define name="content">
                <h1>Daftar Kategori</h1>
        
                <h:form>
                    
                    <p:commandButton action="#{kategoriManagedBean.tambah()}" value="Tambah Kategori Baru"></p:commandButton>
                    
                    <p:dataTable var="k" value="#{kategoriManagedBean.daftarKategori}">
                        <p:column>
                            <f:facet name="header">Nama Kategori</f:facet>
                            <h:outputText value="#{k.nama}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">Action</f:facet>
                            <p:commandButton action="#{kategoriManagedBean.edit()}" value="edit"></p:commandButton>
                        </p:column>
                    </p:dataTable>
                </h:form>
            </ui:define>

        </ui:composition>
        
        
    </h:body>
</html>

